* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#user-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}

#user-details-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-color: aquamarine;
  margin: 0 1rem;
}

/* ==Avatar Styling== */
#avatar-container {
  position: relative;
  width: 4rem;
  height: auto;
  cursor: pointer;
}
#avatar-current {
  height: 4rem;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
}

#avatar-overlay {
  position: absolute;
  top: 0;
  right: -76%;
  width: 3rem;
}

#avatar-choices-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px gray;
}

.avatar-choice {
  position: relative;
}

#avatar-choice-img {
  display: block;
  height: 2rem;
  margin: 0.3rem auto;
}
.current::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.3rem;
  height: 1rem;
  width: 1rem;
  background-image: url("../../images/check.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar-choice:hover {
  transform: scale(1.1);
}
#avatar-current:hover {
  transform: scale(1.05);
}
