* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  min-height: 100vh;
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
  color: yellow;
  letter-spacing: 0.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  margin: 1rem auto;
}

#bp-nav-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
}

#avatar {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  box-shadow: 3px 3px 5px gray;
}

.bp-main-container {
  /* position: relative; */
  width: 80vw;
  height: 80vh;
  margin: 1rem auto;
}

#bp-bg {
  /* position: relative; */
  display: block;
  height: 100%;
  width: 85%;
  /* object-fit: scale-down; */
  margin: 0 auto;
}

.bp-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 30%;
  background-color: white;
  opacity: 0.98;
  border: 2px inset grey;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px gray;
  overflow: auto;
}

.bp-pokemon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem;

  margin: 1rem;
  height: 2rem;
  width: 40%;
  background-color: rgb(177, 175, 175);
  border-radius: 8px;
  border: 2px inset rgb(86, 86, 86);
}

.bp-img-container {
  height: 100%;
  margin-left: 0;
}

.bp-pokemon-container img {
  height: 100%;
  margin-left: 0.5rem;
}
.bp-pokemon-container span {
  line-height: 100%;
  margin-left: 0.5rem;
}
